<a href="https://colab.research.google.com/github/SaranyaKesavan/Python-DataScience/blob/master/CSV_and_Date.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Reading and Writing CSV**

In [0]:
#To load files from drive into colab [shortest way --- medium in pocket bonus way]
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
from google.colab import drive
drive.mount('/content/drive')

In [0]:
import csv

%precision 2

with open('/content/drive/My Drive/data/mpg.csv') as csvfile:
  mpg = list(csv.DictReader(csvfile))
mpg[:3] #To fetch first three dictionaries in our list

[OrderedDict([('', '1'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '1.8'),
              ('year', '1999'),
              ('cyl', '4'),
              ('trans', 'auto(l5)'),
              ('drv', 'f'),
              ('cty', '18'),
              ('hwy', '29'),
              ('fl', 'p'),
              ('class', 'compact')]),
 OrderedDict([('', '2'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '1.8'),
              ('year', '1999'),
              ('cyl', '4'),
              ('trans', 'manual(m5)'),
              ('drv', 'f'),
              ('cty', '21'),
              ('hwy', '29'),
              ('fl', 'p'),
              ('class', 'compact')]),
 OrderedDict([('', '3'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '2'),
              ('year', '2008'),
              ('cyl', '4'),
              ('trans', 'manual(m6)'),
              ('drv', 'f'),
              ('cty', '20'),
              ('hwy', '31'),
              ('fl', 'p'),
              ('class', 'compact')])]

In [0]:
len(mpg)

234

In [0]:
#Get column names of the csv
mpg[0].keys()

odict_keys(['', 'manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty', 'hwy', 'fl', 'class'])

In [0]:
#Find avg cty fuel economy
sum(float(d['cty']) for d in mpg) / len(mpg)

16.86

In [0]:
#Finf avg hwy fuel economy
sum(float(d['hwy']) for d in mpg) / len(mpg)

23.44

In [0]:
#Get unique no of cylinders the cars has (use set)
cylinders = set(d['cyl']for d in mpg)
cylinders

{'4', '5', '6', '8'}

In [0]:
#Grouping the cars by no of cylinder and finding avg cty mpg for each
CtyMpgByCyl = []

for c in cylinders:  #iterates over all cylinders
  summpg = 0
  cyltypecount = 0
  for d in mpg: #iterate over all dictionaries
    if d['cyl'] == c: #check if cylinder level type matches
      summpg += float(d['cty']) #add the cty mpg if cylinder type matches
      cyltypecount += 1 #increment the type count
  CtyMpgByCyl.append((c, summpg /cyltypecount)) # append the tuple ('cylinder' , 'avg mpg') to the list 
#CtyMpgByCyl.append(('3',35))
CtyMpgByCyl.sort(key = lambda x : x[0])
CtyMpgByCyl

[('4', 21.01), ('5', 20.50), ('6', 16.22), ('8', 12.57)]

In [0]:
key = lambda x:x[0]
print(key)

<function <lambda> at 0x7fbdaea46ae8>

In [0]:
#trying to understand sort() with key
lst = [('candy','5','100'), ('apple','10','200'),('orange','100','50'), ('baby','20','300')]
lst.sort(key=lambda x:x[1])
print(lst)

[('apple', '10', '200'), ('orange', '100', '50'), ('baby', '20', '300'), ('candy', '5', '100')]

In [0]:
#get unique values for class types
vehicleclass = set(d['class'] for d in mpg)
vehicleclass

{'2seater', 'compact', 'midsize', 'minivan', 'pickup', 'subcompact', 'suv'}

In [0]:
#Finding avg hwy mpg for each class of vehicle

HwyMpgClass = []

for t in vehicleclass:  #to iterate over all the vehicle class
  summpg = 0
  vclasscount = 0
  for d in mpg: #to iterate over all dict in mpg
    if d['class'] == t : #check if cylinder amount type matches
      summpg += float(d['hwy']) #add the hwy mpg
      vclasscount += 1 #increment the count
  HwyMpgClass.append((t, summpg / vclasscount)) # append the tuple ('class', 'avg mpg')

HwyMpgClass.sort(key = lambda x: x[0])
HwyMpgClass

NameError: ignored

# Writing to csv

In [0]:
import csv
with open('/content/drive/My Drive/data/write.csv', mode = 'w') as file:
    writer = csv.writer(file, delimiter = ',', quotechar ='"', quoting = csv.QUOTE_MINIMAL)
    writer.writerow(['SNo', 'Name'])
    writer.writerow(['1','Saranya'])

# **Date and Time**

In [0]:
import datetime as dt
import time as tm

In [0]:
tm.time() # returns current time in sec since Epoch (Jan 1st, 1970)

1578619964.0719013

In [0]:
#converting timestamp to datetime
dtnow = dt.datetime.fromtimestamp(tm.time())
dtnow
print(dtnow)

2020-01-10 02:02:06.703167

In [0]:
 # datetime attributes:
 dtnow.year,dtnow.month,dtnow.day,dtnow.hour,dtnow.minute,dtnow.second

(2020, 1, 10, 2, 2, 6)

In [0]:
# TImedelta : duration expressing d/w b/w two dates
delta = dt.timedelta(days = 100)
print(delta)

100 days, 0:00:00

In [0]:
today = dt.date.today() #returns the current local date
print(today)

2020-01-10

In [0]:
print(today - delta) #the date 100 days ago

2019-10-02

In [0]:
print(today > today - delta) #compare dates

True

In [0]:
yeardelta = dt.timedelta(6*365* 2)
print(yeardelta)

4380 days, 0:00:00

In [0]:
print(dt.timedelta.max)
print(dt.timedelta.min)
print(dt.timedelta.resolution)

999999999 days, 23:59:59.999999
-999999999 days, 0:00:00
0:00:00.000001

In [0]:
print(dt.timedelta(days = 365).total_seconds())

31536000.0