<a href="https://colab.research.google.com/github/SaranyaKesavan/Python-DataScience/blob/master/Pandas_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# The Series Data Structure

In [0]:
import pandas as pd
pd.Series?

In [3]:
  #creating pandas series using lists
  animals = ["lion","tiger","bear"]
  pd.Series(animals)

0     lion
1    tiger
2     bear
dtype: object

In [4]:
animals.index

In [5]:
numbers = [1,2,3,4]
pd.Series(numbers)

0    1
1    2
2    3
3    4
dtype: int64

In [6]:
nos = [1,2,None]
pd.Series(nos)

0    1.0
1    2.0
2    NaN
dtype: float64

In [7]:
ani = ["lion","tiger",None]
pd.Series(ani)

0     lion
1    tiger
2     None
dtype: object

In [0]:
import numpy as np

In [9]:
np.nan == None

False

In [10]:
np.nan == np.nan

False

In [11]:
np.isnan(np.nan)

True

In [12]:
#ceating pandas series using dictionary
sports = {'Archery'  : 'Bhutan',
          'Golf'     : 'Scotland',
          'Sumo'     : 'Japan',
          'Taekwondo': 'South Korea' }
s = pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [13]:
# to get the indexes of the dict Series
s.index

Index(['Archery', 'Golf', 'Sumo', 'Taekwondo'], dtype='object')

In [14]:
#creating Series by passing values and indexes as lists
z = pd.Series(["Tiger", "Bear", "Moose"], index = ["India", "America", "Canada"])
z

India      Tiger
America     Bear
Canada     Moose
dtype: object

In [15]:
#when creating series by passing dict and index explicitly
'''
==>> pandas takes the values of the dict whose key matches the index passed ("Golf" ,"Sumo", "Archery")
==>> for indexes which are not in dict keys pandas assigns None / Nan as value
==>> since the key "Taekwondo" is not in the index pandas discards it
'''
y = pd.Series(sports, index = ['Golf', 'Sumo', 'Hockey', 'Archery'])
y

Golf       Scotland
Sumo          Japan
Hockey          NaN
Archery      Bhutan
dtype: object

# Querying a Series

In [17]:
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

### iloc --->>to query by numeric location
### loc ---->>to query by index label

###### iloc & loc ==>> attributes not methods so use [ ] not () to query the series
###### [ ] indeed calls index operator
###### in python this calls get & set item methods depending on the context of its use

In [18]:
# to see the 4th country  in Series "s" 
#use 'iloc' attribute with parameter 3
s.iloc[3]

'South Korea'

In [19]:
#to get which country has golf as its national sport use 'loc' attribute
s.loc["Golf"]

'Scotland'

###### pamdas allows to use indexing operator directly on the series without use "iloc" & "loc"
###### ==>> if you pass integer parameter [] behaves like querying with "iloc"
###### ==>> if you pass object as parameter [] behaves like querying using label with "loc"

In [21]:
#outputs same as s.iloc[3]
s[3]

'South Korea'

In [22]:
#outputs same as s.loc['Golf']
s["Golf"]

'Scotland'

# **NOTE:**
###### When the index is a list of integers ---
###### pandas can't determine automatically whether you're trying to query by index position or index label
#### ==>> **careful when using the indexing operator directly on the series**
#### ==>> **To be on the safer side explictily specify 'iloc' or 'loc' attributes on the series**

In [24]:
# example 
sports = {99: 'Bhutan',
          100: 'Scotland',
          101: 'Japan',
          102: 'South Korea'}
s = pd.Series(sports)
s

99          Bhutan
100       Scotland
101          Japan
102    South Korea
dtype: object

In [26]:
# Now s[0] won't call s.iloc[0] as expected; 
#instesd it throws error
# to get the first item call iloc explicitly
s[0]

KeyError: ignored

#### Iterating through data in a Series

In [28]:
# consider a series containg price of different products
s = pd.Series([100.00, 120.00, 101.00, 3.00])
s

0    100.0
1    120.0
2    101.0
3      3.0
dtype: float64

In [29]:
#usual way through looping
total = 0
for item in s:
    total += item
print(total)

324.0

#### **Vectorization:**
###### -->> used to speed up python code without using loops
###### -->> minimizes the running time of the code efficiently
###### -->> most of the numpy functions are vectorized

In [30]:
# acheiving the above loop using numpy sum()
import numpy as np
total = np.sum(s)
print(total)

324.0

###### using jupyter notebook magic function to check execution time of above two methods

In [36]:
# creating a big series of random numbers
# syntax : random.randint(start,stop,length)
s = pd.Series(np.random.randint(0,1000,10000))
# head()--> prints first 5 elements of a series / data frame by default 
s.head(10)

0    875
1    621
2    690
3    214
4    340
5    610
6    794
7    373
8    153
9    478
dtype: int64

In [37]:
len(s)

10000

In [39]:
# %%timeit --->> runs the code several times default 1000 loops and givs the average time taken
%%timeit -n 100
summary = 0
for item in s:
    summary += item

100 loops, best of 3: 1.31 ms per loop

In [41]:
 #with vectorization
 %%timeit -n 100
 summary = np.sum(s)

100 loops, best of 3: 160 µs per loop

###### **Broadcasting:**
###### ==>> with broadcasting we can apply an operation to every value in the series

In [42]:
# example : to increase each value in the series by 2
s += 2
s.head()

0    877
1    623
2    692
3    216
4    342
dtype: int64

In [44]:
# procedural way to do the above one without broadcasting
for label, value in s.iteritems():
    s.set_value(label, value+2)
s.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

0    879
1    625
2    694
3    218
4    344
dtype: int64

In [47]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,10000))
for label, value in s.iteritems():
    s.loc[label] = value+2

10 loops, best of 3: 6.32 s per loop

In [48]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,10000))
s += 2

10 loops, best of 3: 507 µs per loop

In [50]:
# pandas also allows to create series with label having mixed type
# underneath pandas changes the type of the series accordingly
#Example:
s = pd.Series([1,2,3])
s

0    1
1    2
2    3
dtype: int64

In [52]:
s.loc["Animal"] = "Panda"
s

0             1
1             2
2             3
Animal    Panda
dtype: object

###### **Series with non unique index values**

#### **Two important Consideration when using pandas append()**
###### 1) pandas  takes the series and try to infer the best data type to use (when we have mixed types)
###### 2) append() won't override the existing series instead returns a new series by appending the two series together

In [54]:
 original_sports = pd.Series({'Archery' : 'Bhutan',
                              'Golf' : 'Scotland',
                              'Sumo' : 'Japan',
                              'Taekwondo' : 'South Korea'})
 cricket_loving_countries = pd.Series(['Australia','Barbados','Pakistan','England','India'],
                                      index = ['Cricket','Cricket','Cricket','Cricket','Cricket'])
 all_countries = original_sports.append(cricket_loving_countries)
 all_countries

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
Cricket        Australia
Cricket         Barbados
Cricket         Pakistan
Cricket          England
Cricket            India
dtype: object

In [56]:
football_loving_countries = pd.Series([45,66,12,101,97],
                                      index = ['football','football','football','football','football'])
mixed_all_countries = original_sports.append(football_loving_countries)
mixed_all_countries

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
football              45
football              66
football              12
football             101
football              97
dtype: object

In [57]:
mixed_countries = pd.Series(['Australia','Barbados','Pakistan','England','India'],
                                      index = [45,66,12,101,97])
new_mixed_all_countries = original_sports.append(mixed_countries)
new_mixed_all_countries

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
45             Australia
66              Barbados
12              Pakistan
101              England
97                 India
dtype: object

In [58]:
original_sports

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [60]:
# like mysql returns all the values matching the label "Cricket"
all_countries.loc["Cricket"]

Cricket    Australia
Cricket     Barbados
Cricket     Pakistan
Cricket      England
Cricket        India
dtype: object